<?xml version="1.0"?>
<Config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <excelFolderPath>./../../StaticData/</excelFolderPath>
  <client>
    <needExport>true</needExport>
    <usingNameSpace>MonMoose.StaticData</usingNameSpace>
    <nameSpace>MonMoose.StaticData</nameSpace>
    <prefix />
    <postfix>StaticInfo</postfix>
    <structureExportPath>./../../MonMoose/Assets/Scripts/StaticData/AutoGen/</structureExportPath>
    <dataExportPath>./../../MonMoose/Assets/Resources/Exported/StaticData/</dataExportPath>
    <exportMode>Proto</exportMode>
  </client>
  <server>
    <needExport>false</needExport>
    <usingNameSpace />
    <nameSpace />
    <prefix />
    <postfix />
    <structureExportPath />
    <dataExportPath />
    <exportMode>Flat</exportMode>
  </server>
  <needGenerateStructure>true</needGenerateStructure>
  <needGenerateData>true</needGenerateData>
  <needGenerateLoader>true</needGenerateLoader>
</Config>